# Binaries
*.mod
*.exe
*.e

# Results files
*.dat
*.tsv

# Logs
/*.txt

# Pre-specified output layer file
!mzadhoc.dat

# Mac system files
.DS_Store

# snakemake logs
.snakemake
.Rproj.user

# Binary files
files/

# R history
.Rhistory
